html{
        font-family: "Montserrat", sans-serif;
}

header{
    background: #bbb;
    padding: 20px 0 ;
}

.divHeader{
    width: 940px;
    position: relative;
    margin: 20px auto;
}

.logo{
    align-items: center;
    
}

#banner{
    width: 100%;
    border-radius: 10px;
}

nav{
    position: absolute;
    top:110px;
    right: 0;

}

nav li{
    display:inline;
    margin: 0 0 0 25px;
} 

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
color: #ffffff ;
text-decoration: underline;
}


.principal{
    background: #cccccc;
    padding: 30px auto;
}



.formularioContato {
    width: 940px;
    margin: 0 auto;
}


form{
    margin: 40px 0;
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin: 5px 0 5px;
    padding: 10px;
}



.input-padrao{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

#mensagem{
    width: 517px;
}


footer{
    text-align: center;
    background: url("/imagens/bg.jpg");
    padding: 40px 0;
}

.copyright {
    color: white;
    font-size: 18px;
    margin: 20px 0 0;
}

.checkbox{

    margin: 20px 0;
}

.enviar{
    width: 40%;
    padding: 15px 0;
    background: orange;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover{
    color: darkgoldenrod;
    transform: scale(1.2);
}

table{
    margin: 30px 0 40px;

}

thead{
    background: #000000;
    color: #ffffff;
    font-weight: bold;

    
}

td,th{
    border: 1px solid #000000;
    padding: 25px;
    
}

