html{
    font-family: "Montserrat", sans-serif;
}

body{
    background: linear-gradient(#fffefe,#888888);
}

header{
    background: #bbb;
    padding: 20px 0 ;
}

.divHeader{
    width: 940px;
    position: relative;
    margin: 20px auto;

}

.logo{
    align-items: center;
    
}

#banner{
    width: 100%;
    border-radius: 10px;
}


nav{
    position: absolute;
    top:110px;
    right: 0;

}

nav li{
    display:inline;
    margin: 0 0 0 25px;
} 

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
color: #ffffff ;
text-decoration: underline;
}
.redesSociais{
    padding: 5px 10px;
    display: grid;
    grid-template-columns: 35px 35px 35px;
    grid-gap: 50px;
    margin: 110px 0 0 180px;
}

.redesSociaisImg{
    height: 35px;
    width:  35px;    
}

.produtos{
    width: 940px;
    margin: 30px auto;
}

.produtos li img{
    height: 95px;
    width: 95px;
}

.produtos li{
    display: inline-block;
    text-align: center;
    width:30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 15px;
    box-sizing: border-box;
    border: 3px solid #000000  ;
    border-radius: 10px;
}

.produtos li:hover{
    border:  #bbb 3px solid;
}

.produtos h2{
    font-size: 25px;
    font-weight: bold;
}

.produtos-descricao{
    font-size: 18px;
    font-weight: bold;
}

.produtos-preco{
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}


footer{
    text-align: center;
    background: url("/imagens/bg.jpg");
    padding: 10px 0;
    height: 235px;
    
}

.imgFooter{
    height: 120px;
    width: 108px;

}

.imgFooter1{
    height: 40px;
    width: 50px;
    padding: 10px 10px 0px;
    display: inline-block;
    box-sizing: border-box;
}

img.imgFooter1:hover{
    width: 52px;
    transition: 50ms;
}

.copyright {
    color: #f5f5f5;
    font-size: 10px;
    padding: 5px 0 15px 0;
}
footer p{
    font-size: 12px;
    color: #fffefe;
    text-align: center;
    padding: 0;
}
#desenvolvido {
    font-size: 12px;
    color: #fdfdfd;
    text-decoration: none; 
    text-align: right;
    
}

.principal{
    width:100%;
    height:100%;
    color: #050505;
    text-align: center;
}

.principal p{
    margin: 0 0 1em;

}

.principal ul {
    text-align: left;
    padding: 10px 0 0 10px;
    display:grid; 
    justify-content:center; 

}
.principal li{
    padding: 10px;

}

.principal strong{
    font-weight:bold;

}

.principal em{
    font-style: italic;
}
.tituloCentralizado {
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    margin:5px 0 0 25px;
    padding: 15px;
}
.beneficios {
    font-weight: bold;
    margin: 25px 0 25px 25px;
}

.imagens{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 300px; 
    border: 1px solid #ccc;
}

.fotoBeneficios{
    width:350px;
    height:250px;
    border-radius: 10% 0 10% 0 ;
    margin: 2% 2% 3% 2%;
    opacity: 1;
    box-shadow: 5px 5px 20px 5px #000000;

}

.fotoBeneficios:hover{
    opacity: 0.5;
}

#missao{
    text-align: center;
    font-size: 35px;
    padding: 50px;
}
#missao:hover{
    color: #bbb ;

}

.experiencia{
    text-align: center;
    font-size: 1.5rem;
    padding: 50px;
}

.video{
    width: 560px;
    margin: 1em auto;
    text-align: center;
}
p{
    font-size: 1.5em;
    text-align: center;
    padding: 50px;
    
}

.itens{
    font-style: italic;
    font-size: 20px;
}

#mensagem{
    width: 500px;
}

#local{
    background: #bbb;
}

.mapa p{
    margin: 2em;
    text-align: center;
}

.nossoEstabelecimento{
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    margin: 0 0 1em;
    padding: 30px;

}


@media screen and (max-width:400px){
    .caixa, .principal, .beneficios, .mapa, .video, .fotoBeneficios {
        width: auto;
    }
    .h1,.h2{
        text-align: center;
    }

    nav{
        position: static;
    }

    .fotoBeneficios, .imagens{
        width: 100%;
    }
}