
html{
        font-family: "Montserrat", sans-serif;
}

.divHeader{
    width: 940px;
    margin: 20px auto;
    align-items: center;

}

.logo{
    align-items: center;
    
}

#banner{
    width: 100%;
    border-radius: 10px;
}

.principal{
    background: #cccccc;
    padding: 30px;
}

.tituloCentralizado{
    text-align: center;
    
}

p{
    font-size: 18px;
    text-align: center;
}

#missao{
    font-size: 30px;
    color: blue;
}

.itens{
    font-style: italic;
}

.beneficios {
    background: #ffffff;
    padding: 20px;
}

.tituloPrincipal{
    padding-left: 20px;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20px;
    margin-right: 15%;

}
